*.a
*.la
*.lo
*.o
.libs
Make.defs
Makefile
config.cache
config.log
config.status
core/unix/test/unit_base64
core/unix/test/unit_cbeep_io
core/unix/test/unit_cbeep_query
core/unix/test/unit_cbeep_shortframe
core/unix/test/unit_channel_0
core/unix/test/unit_frame_aggregate
libtool
threaded_os/examples/unix/beepd
threaded_os/examples/unix/beepng
threaded_os/utility/unix/configtest
utility/unix/hashtest
utility/unix/unit_clist
utility/unix/unit_xml_entities
